.hero {
  width: 80%;
  padding-bottom: 3rem;
}

.herost {
  font-size: xx-large;

}

.herost {
  display: flex;
  justify-content: space-between;
}

.herost p {
  font-size: large;
  width: 25rem;
}

.herost h1 {
  margin-top: 5rem;
  width: 30rem;
}

.hero img {
  height: 30rem;
}

.heroend {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.heroend img {
  height: 4rem;
  width: 6rem;
  object-fit: contain;
}