.btn-group {
    width: 80%;
    margin: auto;
    position: relative;
    top: -40px;

    button {
        width: 150px;
        margin-left: 2px;
        height: 40px;
        border: none;
        color: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;


    }
}