.experience {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 4rem 0;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  /* padding-top:4rem ; */

  .experience-description {
    flex: 1;
    max-width: 45%;

    .subtitle {
      color: gray;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .title {
      font-size: 1.5rem;
      font-weight: 900;
      color: #000;
      margin-bottom: 1rem;
      line-height: 1.2;
    }

    .paragraph {
      color: gray;
      line-height: 1.6;
      font-size: 1rem;
    }
  }

  .experience-stats {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 2rem;
    flex: 1;
    margin-top: 4rem;
    padding-left: 5rem;
    align-items: center;
    justify-items: start;

    .stat-card {
      h1 {
        color: #d6a321;
        font-size: 3.5rem;
        margin: 0;

        .plus {
          margin-left: 0.2rem;
        }
      }

      p {
        margin: 0;
        color: #444;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}